<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Duncan | <%= yield(:title) %></title>
  </head>
  <body class = "portfolio">
    <h1>About</h1>
    <p>
      Insert info here
    </p>
  </body>
</html>