<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<body class = "portfolio">
  <div class="main">
  	<img src="/assets/main.jpg" height = 200 width=200 align ="left"/>
  	<p class="ex1"> Hi, my name is Duncan Szarmes. I am a third year student at UBCO
  		majoring in Computer Science, hailing from Hawaii. I am a TA for COSC 111 as well.
   </p>

  	<p class = "ex2">	Interests/Hobbies:
  		surfing, biking, gaming, guitar, being creative, and much more..
  	</p>
  </div>
</body>
</html>



