<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<body class = "portfolio">

	<% if user_signed_in? %>
      <div class ="center">
      <div class="row">
  			<%= link_to 'Create a Deck', '/decks', class: "btn btn-large btn-primary"  %>        
   			<br/></div></div>
            
    <% else %>

    <div class ="center">
	<div class ="welcome">
		Welcome to Socially Constructed Flashcards!!
	</div><br/><br/>
	
  <iframe src="//player.vimeo.com/video/79358544?title=0&amp;byline=0&amp;portrait=0" width="800" height="422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/79358544">Socially Constructed Flashcards</a> from <a href="http://vimeo.com/user22664621">scflashcards</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      
      </br></br></br></br>
     
  	</div>
            
    <% end %>
</body>
</html>



