<% provide(:title, 'Portfolio') %>
<body class = "portfolio">
<h1>Portfolio</h1>
	<div class="port">
		<p>
			<h2 class = "refer"> Stranded Sloth</h2>
			<div>
 			<img src="http://a3.mzstatic.com/us/r1000/011/Purple/v4/16/bf/74/16bf7402-c14c-0aec-ed1a-e6d5eacc45e0/mzl.vjqykfqg.175x175-75.jpg" height = 100 width = 100 align ="left"/>
 			
 			Developed the <a href="https://itunes.apple.com/us/app/stranded-sloth/id688946946?mt=8">iOS</a>/<a href="https://play.google.com/store/apps/details?id=com.Raffi.StrandedSloth">Android</a> app Stranded Sloth. It is a basic arcade/survival game in which the player must defend the sloth from incoming attackers. The coding was done in the language Lua and we used Corona Simulator to test it. It was developed with Raffi Kudlac for a directed studies course (COSC 448) at UBCO, under the direction of Bowen Hui.
 			<p>
 			<b>Downloads</b> (1 month from deployment): 1000+ 
 			</p>
 		</div>

		</p>
	</div>
	<div class="port1">
		<p>
			<h2 class = "refer">MRD Derivatives</h2>
			<div>
 			<img src = "https://lh3.ggpht.com/zklvnN1_4Y2fCZqb-5EimmRC5S9COCqmE-6a0YewzUX3QMcGyOom6U2hmVuLY9SJeg=h900-rw" height = 100 width = 100 align ="left"/>
 			Developed the <a href="https://play.google.com/store/apps/details?id=com.snapquack.calculus">Android</a> app MRD Derivatives. It is a an application that will take an input function and return the derivative of that function. The coding was done in Java and mainly relies on recursion techniques. It is all done locally, so there is no internet access required, and has a few other features as well. It was done as a side-project with Mathew Bojey and Raffi Kudlac. </div>
		</p>
	</div>
	<div>
		<h2 class = "refer">Currently In Progress</h2>
		<p>
			Website for The Central Okangan Arts Council, database project for a client of Ramon Lawrence,  this website.
		</p>
	</div>
	<div>
		<h2 class = "refer"> Experience/Knowledge</h2>
		<p>
			Languages: Java, Lua, SQL, Ruby on Rails, HTML, Scheme, Prolog, Assembly
		</p>
		<p>
			IDE's/Other programs: Eclipse, Android SDK, Corona, SQuirreLSQL, Xcode, gitHub, Command-Line
		</p>
	</div>

</body>