<% provide(:title, 'References') %>
<body class = "portfolio">
<h1>References</h1>
<div>
 <h2 class = "refer">Bowen Hui</h2>
 <p>University of British Columbia, Okanagan</p>
 <p>3333 University Way, Kelowna, BC, V1V 1V7</p>
 <p>Faculty of Computer Science</p>
 <p>Email: <a href="mailto:bowen.hui@ubc.ca">bowen.hui@ubc.ca </a></p>
 <h2 class = "refer">Robert Campbell</h2>
 <p>University of British Columbia, Okanagan</p>
 <p>3333 University Way, Kelowna, BC, V1V 1V7</p>
 <p>Faculty of Education</p>
 <p>Email: <a href="mailto:robert.campbell@ubc.ca">robert.campbell@ubc.ca </a></p>
</div>
</body>