<div class = "col-sm-12" >
<h1> Resources </h1>
<p> Socially Constructed Flashcards would not be the same without the help of the rails community. We would like to thank all the people that have contributed to us, and we feel that we should give credit where credit is due. Currently, we are utilizing the following gems:</p>

<ul>

<li>bcrypt-ruby</li>
<li>bootstrap-sass</li>
<li>bootstrap-will_paginate</li>
<li>capybara</li>
<li>childprocess</li>
<li>ckeditor</li>
<li>coffee-rails</li>
<li>devise</li>
<li>factory_girl_rails</li>
<li>faker</li>
<li>growl</li>
<li>guard-rspec</li>
<li>guard-spork</li>
<li>jbuilder</li>
<li>jquery-rails</li>
<li>less-rails</li>
<li>pg</li>
<li>rails3-jquery-autocomplete</li>
<li>rails</li>
<li>rails_12factor</li>
<li>rspec-rails</li>
<li>sass-rails</li>
<li>selenium-webdriver</li>
<li>simple_form</li>
<li>spork-rails</li>
<li>sqlite3</li>
<li>therubyracer</li>
<li>turbolinks</li>
<li>twitter-bootstrap-rails</li>
<li>uglifier</li>
<li>will_paginate</li>

</ul>

</div>