<% provide(:title, 'Work') %>
<h1>Work Experience</h1>
<body class="portfolio">
	<div>
		<h2 class="refer">Undergaduate Teaching Assistant</h2>
		<p class = "ex3">University of British Columbia, Okanagan</p>
		<p class = "ex3">August 2013-present </p>
		<p class = "ex3">Supervisor: Bowen Hui, Faculty of Computer Science </p>
		<p class = "ex3">- Instructed labs for COSC 111 </p>
		<p class = "ex3">- Marked labs, assignments, and midterms </p>
		<p class = "ex3">- Taught basic OOP concepts and Java coding methods </p>
	</div>


		<h2 class="refer">Undergraduate Research Assistant</h2>
		<p class = "ex3">University of British Columbia, Okanagan</p>
		<p class = "ex3">August 2013-present </p>
		<p class = "ex3">Supervisor: Robert Campbell, Faculty of Education </p>
		<p class = "ex3">- Created powerpoint presentations and informational videos to be used in the Digital Citizenship course at UBCO </p>
	</div>
		








</body>
	