

        <div>
        <p class="ex4"> <b>Question:</b> <br/> <%= cards.qtext %></p>
        </div>
        
        <div>
        <p class="ex4"> <b>Answer:</b> <br/><%= cards.atext %></p>
        </div> 

    <% if !@card.nil? %>
    <% if Deck.find_by(deck_id: @card.deck_id).user_id == @userID %>

    <%= link_to "Delete this Card", @card, method: :delete, data: { confirm: "You sure?" } %> 
    <%= link_to "Edit this Card", edit_card_path(cards.card_id)%>
     <br/>

    <% end %>
     <% end %>


        
   
    
   
   