    <div>
    <h2> <%= decks.deckTitle %> </h2>
    </div>
   
    <div>
    <p class="ex4">Subject: <%= decks.subjectName %> </p>
    </div>

    <div >
    <p class="ex4">Course: <%= decks.courseName %> </p>
    </div>
    
    <%= link_to "Delete this Deck", @deck, method: :delete, data: { confirm: "You sure?" } %>

   