

<div>
        <p class="ex4"> <b>Question:</b> <br/> <%= cards.qtext %></p>
</div>
        
<div>
<p class="ex4"> <b>Answer:</b> <br/><%= cards.atext %></p>
</div> 

 <%= link_to "Delete this Deck", @card, method: :delete, data: { confirm: "You sure?" } %>
        
   
    
   
   