<h1>Saved Cards</h1>


<% @favorites.each do |favorite| %>

<% @card = Card.find_by(card_id: favorite.card_id) %>

<h1> Question </h1>

<h2><%= @card.qtext %></h2>

<h1> Answer </h1>

<h2><%= @card.atext %></h2>


   
     <%= link_to "Un-save this Card", {:controller => "cards", :action => 'removefavorite', 
    :userID => @userID,:favid => @card.card_id} %>
    <br/>
    <%= link_to "View this Card ", card_path(@card.card_id) %>

<% end %>