<h1>Saved Decks</h1>

<% if user_signed_in? %>
  			<br/>
	<% if @favorites.any? %>
		  <div>
		  	<% @count = 0
		  	%><%@favorites1 = Deck.where(id: 0)
		  	%><%@favorites2 = Deck.where(id: 0)
		  	%><%@favorites.each do |d|
			  	%><%if(@count % 2 == 0)
			  	 	%><%@favorites1.push(d)
			  	%><%elsif(@count % 2 == 1)
			  	   	%><%@favorites2.push(d)
			  	%>
			  	<% end %>
			  	<% @count += 1 %>
			<% end %>
		  	<div class = "row" style= "align: center">
		  		<div class = "col-md-6" >
					<%= render partial: 'shared/favorite', collection: @favorites1 %>
				</div>
				<div class = "col-md-6" >
					<%= render partial: 'shared/favorite', collection: @favorites2 %>
				</div>
		  	</div>
		  <%= will_paginate @favorites %>
	<% end %>
<% end %>