<h1>Recent Decks</h1>

<% if user_signed_in? %>
  			<br/>
  			<br/>
	
	<% if @recents.any? %>
		  <div>
		  	<% @count = 0
		  	%><%@recents1 = Deck.where(id: 0)
		  	%><%@recents2 = Deck.where(id: 0)
		  	%><%@recents.each do |d|
			  	%><%if(@count % 2 == 0)
			  	 	%><%@recents1.push(d)
			  	%><%elsif(@count % 2 == 1)
			  	   	%><%@recents2.push(d)
			  	%>
			  	<% end %>
			  	<% @count += 1 %>
			<% end %>
		  	<div class = "row" style= "align: center">
		  		<div class = "col-md-6" >
					<%= render partial: 'shared/recent', collection: @recents1 %>
				</div>
				<div class = "col-md-6" >
					<%= render partial: 'shared/recent', collection: @recents2 %>
				</div>
		  	</div>
		  <%= will_paginate @recents %>
	<% end %>
<% end %>