<h1>Your Decks</h1>

<% if user_signed_in? %>
    	<div class="row", style = "border-bottom: 3px solid black">
  			<%= link_to'Create a Deck', '/decks', class: "btn btn-medium btn-success"  %>  
  			<br/>
  			<br/>
   		</div>
	
	<% if @decks.any? %>
		  <div>
		    <%= render partial: 'shared/decks', collection: @decks %>
		  </div>
		  <%= will_paginate @decks %>
	<% end %>
<% end %>