<footer class="footer">
  <div id="social-icons">
<p>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </p>
<p class="konami"> ↑ ↑ ↓ ↓ ← → ← → b a enter</p>
</div>
</footer>