<footer class="footer">
 <div class = "row" style ="text-align:center;padding-bottom:3em;">

 <p class ="footer"><%= link_to "About Us", about_path%></p>
 <p class ="footer"><%= link_to "Resources", resources_path%></p>
 <p class ="footer"><%= link_to "Contact", contact_path%></p>
 </div>
</footer>