<header id="sidebar"> 
   <div id="social-icons">

<a href="http://www.linkedin.com/pub/duncan-szarmes/58/27b/9aa"><img src="http://www.richmondinstitute.com/wp-content/uploads/2011/07/linkedin-icon-gif.gif" width="48" height="48" alt="LinkedIn" align = "left" /></a></div>
<div>
<a href="http://www.github.com/szarmes"><img src="http://cdn0.dribbble.com/assets/icon-team-github-1217eb0e52e10d253800f510cb509842.png" width="48" height="48" alt="Facebook" align = "left"/></a>
</div>
</header>